body {
  background-color: #b0e0e6;
}
div p {
  background-color: #fffca5;
}
h2{
  color: #800080;
}
#itemone {
    color: #800080;
}
li a {
  color: #ff0000;
}
#textblock {
  border: 5px solid gray;
  width: 800px;
  height: 400px;
}




h1{
  border: 1px solid black;
}


input{
  border: 2px solid rgb(144, 0, 0);
}


.exit {
  background-color: blue;
  border: 5px dashed #fffca5;
}

a:visited {
  color: green;
}
