
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
  font-family: sans-serif;
  font-size: 18px;

}
h1 {
    color: green;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
  color: #2da612;
  font-size: 30px;
  margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
  font-size: 22px;
  float: left;
  margin: 80px 0px 0px 20px;
}



.image {
    width: 380px;
    height: 280px;
}
.container {
    width: 1100px;
    margin: 20px auto 0px auto;
}

.main-blog {
    width: 75%;
    float: left; 
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float: left;
    
}

.author-class {
    border-top: 1px solid black;
    padding-top: 20px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.other {
    margin-bottom: 30px;
}

.author-class img{
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    float: left;
}

.main-blog img{
    height: 150px;
    width: auto;
    
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}
