body {
  font-family: "Verdana";
  background-image: url("images/sunrise.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px
}
h1{
  text-align: center;
  font-family: 'SpotCookieRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  color: red;
}

p{
  color: #e64e07;
  font-size: 1.25em;
  font-style: oblique;
  font-weight: normal;
}
#mom {
  color: #094ee3;
  font-size: 1.15em
}
.mom {
    height: 270px;
    width: 300px;
}
div h2 {
  font-family: 'Great Vibes', cursive;
  color: #e607ae;
  text-align: justify;
}
